$mainTheme: rgba(0, 0, 0, 0.537);
$backgroundNews: rgba(0, 0, 0, 0.142);
$buttonBorderStyle: solid, rgb(0, 0, 0), 1.5px;
body {
  background-color: $mainTheme;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#divHeader {
  width: 100%;
  background-color: rgba(126, 124, 124, 0.895);
}
header {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 40px;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#loadMoreButton {
  border: $buttonBorderStyle;
  border-radius: 7px;
  height: 55px;
  width: 160px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.909);
}
